<div class="container">
  <h2>Medals per Country</h2>

  <ng-container *ngIf="olympics$ | async as olympicsData; else loadingOrError">
    <div *ngIf="olympicsData && olympicsData.length > 0" class="chart-area">
      <!-- Info Boxes -->
      <div class="info-boxes">
        <div class="info-box">
          <span>Number of JOs</span>
          <strong>{{ numberOfJos }}</strong>
        </div>
        <div class="info-box">
          <span>Number of countries</span>
          <strong>{{ numberOfCountries }}</strong>
        </div>
      </div>

      <!-- Pie Chart -->
      <div class="chart-wrapper">
        <ngx-charts-pie-chart
          [scheme]="colorScheme"
          [results]="chartData"
          [gradient]="gradient"
          [legend]="showLegend"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          [tooltipText]="tooltipText"
          (select)="onSelect($event)"
        >
        </ngx-charts-pie-chart>
      </div>
      
    </div>
  </ng-container>

  <!-- Template for Loading State -->
  <ng-template #loadingOrError>
    <div *ngIf="(olympics$ | async) === undefined">
      <p>Loading Olympic data...</p>
    </div>
    <div *ngIf="(olympics$ | async) === null">
      <p>Error loading Olympic data.</p>
    </div>
  </ng-template>
</div>
